<div class="overlay" padding [hidden]="overlayHidden">
    <div class="overlay-content-wrapper">
        <ion-img src="assets/img/stylephones.svg"> </ion-img>
        <p>Um die binauralen Klänge erleben zu können, benutze bitte Kopfhörer.</p>
        <ion-button size="large" (click)="hideOverlay()">Bestätigen</ion-button>
    </div>
</div>
<ion-content>
    <div class="container">
            <ion-row class="menu-title-container">
                    <ion-col class="menu-title">
                        <h1>MENÜ</h1>
                    </ion-col>
                </ion-row>
                <div class="menu">
                    <ion-row class="punkt1">
                        <ion-col class="menu-row">
                            <ion-button color="secondary" fill="outline" class="start-button" size="large" href="/game-static">Start Protoyp</ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row class="punkt2">
                        <ion-col class="menu-row">
                            <ion-button color="secondary" fill="outline" class="start-button" size="large" href="/qte-test">QTE-Balken</ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row class="punkt3">
                        <ion-col class="menu-row">
                            <ion-button color="secondary" fill="outline" class="start-button" size="large" href="/qte-button-test">QTE-Button</ion-button>
                        </ion-col>
                    </ion-row>
                </div>
    </div>
</ion-content>