ion-content {
  --background: url(../../assets/img/background.svg) no-repeat center center / cover;
}
.menu {
  height: 100%;
  width: 100%;
  text-align: center;
}
.menu-row {
  margin-top: 100px;
}
