$qteColor: #78B188;
$qteAnimationTime: 8s;
.qte-Container {
    padding: 3rem 0rem;
    position: relative;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.qte-Background {
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 300px;
    border-radius: 15px;
    height: 50px;
    background-color: rgba(1, 0, 0, 1);
    position: relative;
    animation: qteFinished 0.2s linear 5s forwards;
    z-index: 1;
    .qte-fill-container {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 290px;
        height: 40px;
        border-radius: 10px;
        background-color: rgba(1, 0, 0, 0);
        overflow: hidden;
        z-index: 2;
        .qte-fill {
            position: absolute;
            background-color: $qteColor;
            width: 320px;
            height: 40px;
            border-radius: 0 0 40px 0;
            animation: qteFillAnimation 5s linear forwards;
            z-index: 3;
        }
    }
}

.qte-action-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    max-width: 350px;
    --border-radius: 20px;
    &:first-child {
        margin-top: 2rem;
    }
}

@keyframes qteFillAnimation {
    0% {
        width: 0px;
    }
    100% {
        width: 320px;
    }
}

@keyframes qteFinished {
    0% {
        background-color: black;
    }
    100% {
        background-color: $qteColor;
        z-index: 5;
    }
}