<div class="qte-Container">
    <div class="qte-Background">
        <div class="qte-fill-container">
            <div class="qte-fill"></div>
        </div>
    </div>
    <div class="button-container">
        <ion-button class="qte-action-button" href="{{decision1Link}}" expand="block" fill="outline" color="secondary" size="large">{{decision1}}</ion-button>
        <ion-button *ngIf="(decision2!= '')" class="qte-action-button" href="{{decision1Link}}" expand="block" fill="outline" color="secondary" size="large">{{decision2}}</ion-button>
    </div>
</div>