<div class="qte-Container">
    <div class="qte-Background qtefinishedAn" [style.animation-duration]="getQTEBackroundDuration()" [style.animation-delay]="getQTEBackroundDelay()">
        <div class="qte-fill-container">
            <div class="qte-fill qtefillAn" [ngStyle]="{'animation-duration': getAnimationDur()}"></div>
        </div>
    </div>
    <div class="button-container">
        <ion-button class="qte-action-button falldown" [ngStyle]="{'animation-duration': '1s' ,'animation-delay': getTimerDelay(0.5)}" href="{{decision1Link}}" expand="block" fill="outline" color="secondary" size="large">{{decision1}}</ion-button>
    </div>
</div>