<div class="overlay" padding [hidden]="overlayHidden">
    <div class="overlay-content-wrapper">
        <h1>Glückwunsch</h1>
        <h3>Du hast {{points}} Affen gefangen</h3>
        <div class="button-container">
            <ion-button color="primary" size="large" href="/game-env">Erneut versuchen</ion-button>
            <ion-button color="medium" size="large" href="/menu">Zurück zum Menü</ion-button>
        </div>
    </div>
</div>
<ion-content color="dark">
    <h1 class="title">Finde die Affen!</h1>
    <h5 class="subtitle">Verlasse dich auf dein Gehör und finde die Affen.</h5>
    <app-compass [heading]="heading"></app-compass>
    <!-- <p>Position Affe: {{monkeyPos | number:"1.1-1"}}°</p> -->
    <ion-button size="large" (click)="catchMonkey()">Affe fangen</ion-button>
    <h3>Affen gefangen: {{points}}</h3>
    <h5>verbleibende Zeit: {{timeleft}}s</h5>
    <ion-button class="pause-button" fill="clear" (click)="pauseGame()"><img class="pause-icon" src="assets/icon/pause2.svg" alt="pause-icon"></ion-button>
</ion-content>

<div class="overlay pause-overlay" padding [hidden]="pauseOverlayHidden">
        <div class="overlay-content-wrapper">
            <ion-button class="play-button" fill="clear" size="large" (click)="hidePauseOverlay()"><img class="play-icon" src="assets/icon/play3.svg" alt="play-icon"></ion-button>
        </div>
</div>